.listfont {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.carouselbutton {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.carouselButtonFill {
  width: 10px;
  height: 10px;
  background: rgb(180, 20, 20);
  border-radius: 50%;
  border: 2px solid white;
}
.bg-secondary {
  background: #db4444;
}
.text-secondary {
  color: #db4444;
}

.responsive-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
}
